@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var returnUrl = Context.Request.Query["returnUrl"];
}

@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new {selectedTabId = CustomerNavigationEnum.ChangePassword})
}

<div class="col-lg-8 col-md-7 mb-5">
    <h1 class="h2">Password &amp; Security</h1>
    <p class="pt-1">Manage your password settings and secure your account.</p>
    <h2 class="h5">Password</h2>
    <form class="needs-validation pb-4" novalidate="">
        <div class="row align-items-end mb-2">
            <div class="col-sm-6 mb-2">
                <label class="form-label" for="account-password">Current password</label>
                <div class="password-toggle">
                    <input class="form-control" type="password" id="account-password" required="">
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-6 mb-2">
                <a class="d-inline-block mb-2" href="#">Forgot password?</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6 mb-3">
                <label class="form-label" for="account-password-new">New password</label>
                <div class="password-toggle">
                    <input class="form-control" type="password" id="account-password-new" required="">
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <label class="form-label" for="account-password-confirm">Confirm password</label>
                <div class="password-toggle">
                    <input class="form-control" type="password" id="account-password-confirm" required="">
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-primary" type="submit">Update password</button>
    </form>
    <div class="border-top pt-4 mt-3"></div>
</div>