@{
    Layout = "_Root";
}
@{
    //current category ID
    var currentCategoryId = 0;
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.ActionContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    var currentManufacturerId = 0;
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.ActionContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    var currentProductId = 0;
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.ActionContext.RouteData.Values["productId"].ToString());
    }
}

<div class="container-fluid mt-5 pt-5 p-0">
    <div class="row g-0 mt-n3">
        <aside class="col-lg-4 col-xl-3 border-top-lg border-end-lg shadow-sm px-3 px-xl-4 px-xxl-5 pt-lg-2">
            @if (IsSectionDefined("left"))
            {
                @await Component.InvokeAsync("Widget", new {widgetZone = PublicWidgetZones.LeftSideColumnBefore})
                @await RenderSectionAsync("left")
                @await Component.InvokeAsync("Widget", new {widgetZone = PublicWidgetZones.LeftSideColumnAfter})
            }
            else
            {
                <div class="offcanvas offcanvas-start offcanvas-collapse" id="filters-sidebar">
                    <div class="offcanvas-header bg-transparent d-flex d-lg-none align-items-center">
                        <h2 class="h5 mb-0">Filters</h2>
                        <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body py-lg-4">
                        @await RenderSectionAsync("CatalogFilters", false)
                        <div class="pb-4 mb-2">
                            <h3 class="h6">Location</h3>
                            <select class="form-select mb-2">
                                <option value="" disabled="">Choose city</option>
                                <option value="Berlin" selected="">Berlin</option>
                                <option value="Hamburg">Hamburg</option>
                                <option value="Munich">Munich</option>
                                <option value="Koln">Koln</option>
                                <option value="Frankfurt am Main">Frankfurt am Main</option>
                            </select>
                            <select class="form-select">
                                <option value="" selected="" disabled="">Choose district</option>
                                <option value="Berlin-Mitte">Berlin-Mitte</option>
                                <option value="Charlottenburg">Charlottenburg</option>
                                <option value="Prenzlauer Berg">Prenzlauer Berg</option>
                                <option value="Friedrichshain">Friedrichshain</option>
                                <option value="Kreuzberg">Kreuzberg</option>
                            </select>
                        </div>
                        <div class="pb-4 mb-2">
                            <h3 class="h6">Price</h3>
                            <div class="range-slider" data-start-min="300" data-start-max="700" data-min="50" data-max="1000" data-step="20">
                                <div class="range-slider-ui"></div>
                                <div class="d-flex align-items-center">
                                    <div class="w-50 pe-2">
                                        <div class="input-group">
                                            <span class="input-group-text fs-base">$</span>
                                            <input class="form-control range-slider-value-min" type="text">
                                        </div>
                                    </div>
                                    <div class="text-muted">&mdash;</div>
                                    <div class="w-50 ps-2">
                                        <div class="input-group">
                                            <span class="input-group-text fs-base">$</span>
                                            <input class="form-control range-slider-value-max" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pb-4 mb-2">
                            <h3 class="h6">Amenities</h3>
                            <div class="overflow-auto" data-simplebar="init" data-simplebar-auto-hide="false" style="height: 11rem;">
                                <div class="simplebar-wrapper" style="margin: 0px;">
                                    <div class="simplebar-height-auto-observer-wrapper">
                                        <div class="simplebar-height-auto-observer"></div>
                                    </div>
                                    <div class="simplebar-mask">
                                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                                <div class="simplebar-content" style="padding: 0px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="parking">
                                                        <label class="form-check-label fs-sm" for="parking">Parking</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="restaurant">
                                                        <label class="form-check-label fs-sm" for="restaurant">Restaurant</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="pet-friendly">
                                                        <label class="form-check-label fs-sm" for="pet-friendly">Pet Friendly</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="room-service" checked="">
                                                        <label class="form-check-label fs-sm" for="room-service">Room Service</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="fitness-center">
                                                        <label class="form-check-label fs-sm" for="fitness-center">Fitness Center</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="free-wifi" checked="">
                                                        <label class="form-check-label fs-sm" for="free-wifi">Free WiFi</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="spa-lounge">
                                                        <label class="form-check-label fs-sm" for="spa-lounge">Spa lounge</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="bar">
                                                        <label class="form-check-label fs-sm" for="bar">Bar</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="swimming-pool">
                                                        <label class="form-check-label fs-sm" for="swimming-pool">Swimming pool</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="simplebar-placeholder" style="width: auto; height: 270px;"></div>
                                </div>
                                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div>
                                </div>
                                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                    <div class="simplebar-scrollbar simplebar-visible" style="height: 114px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* @await Component.InvokeAsync("Widget", new {widgetZone = PublicWidgetZones.LeftSideColumnBefore}) *@
                @* @await RenderSectionAsync("CatalogFilters", false) *@
                @* @await Component.InvokeAsync("CategoryNavigation", new {currentCategoryId = currentCategoryId, currentProductId = currentProductId}) *@
                @* @await Component.InvokeAsync("Widget", new {widgetZone = PublicWidgetZones.LeftSideColumnAfterCategoryNavigation}) *@
                @* @await Component.InvokeAsync("ManufacturerNavigation", new {currentManufacturerId = currentManufacturerId}) *@
                @* @await Component.InvokeAsync("VendorNavigation") *@
                @* @await Component.InvokeAsync("RecentlyViewedProductsBlock", new {productThumbPictureSize = 64}) *@
                @* @await Component.InvokeAsync("PopularProductTags") *@
                @* @await Component.InvokeAsync("PollBlock", new {systemKeyword = "LeftColumnPoll"}) *@
                @* @await Component.InvokeAsync("Widget", new {widgetZone = PublicWidgetZones.LeftSideColumnAfter}) *@
            }
        </aside>
        <div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5">
            @await RenderSectionAsync("Breadcrumb", false)
            @await Component.InvokeAsync("Widget", new {widgetZone = PublicWidgetZones.MainColumnBefore})
            @RenderBody()
            @await Component.InvokeAsync("Widget", new {widgetZone = PublicWidgetZones.MainColumnAfter})
        </div>
    </div>
</div>