@model string
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 pb-2">
        <h2 class="h3 mb-sm-0">@Model</h2>
        @*<a class="btn btn-link fw-normal ms-sm-3 p-0" href="#">
            View all<i class="fi-arrow-long-right ms-2"></i>
        </a>*@
    </div>
</div>