@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax

@inject IWorkContext workContext

<footer class="footer pt-lg-5 pt-4 bg-dark text-light">
    <div class="mb-4 py-4 pb-lg-5 container">
        <div class="gy-4 row">
            <div class="col-lg-3 col-md-6 col-sm-4">
                <div class="mb-4 pb-sm-2">
                    <a class="d-inline-flex" href="/city-guide">
                        <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                            <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                                <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27116%27%20height=%2732%27/%3e">
                            </span>
                            <img alt="Finder" src="~/Themes/SaljiDalje/Content/img/logo/logo-light.svg" decoding="async" data-nimg="intrinsic" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
                        </span>
                    </a>
                </div>
                <ul class="nav-light flex-column nav">
                    <li class="mb-2 nav-item">
                        <a href="mailto:example@gmail.com" data-rr-ui-event-key="mailto:example@gmail.com" class="fw-normal text-light text-nowrap p-0 nav-link"><i class="fi-mail mt-n1 me-1 align-middle text-primary"></i>example@gmail.com</a>
                    </li>
                    <li class="mb-2 nav-item">
                        <a href="tel:4065550120" data-rr-ui-event-key="tel:4065550120" class="fw-normal text-light text-nowrap p-0 nav-link"><i class="fi-device-mobile mt-n1 me-1 align-middle text-primary"></i>(406) 555-0120</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <h3 class="fs-base text-light">Quick links</h3>
                <ul class="list-unstyled fs-sm">
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">Top cities</a>
                    </li>
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">Accommodation</a>
                    </li>
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">Cafes &amp; restaurants</a>
                    </li>
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">Events</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <h3 class="fs-base text-light">Profile</h3>
                <ul class="list-unstyled fs-sm">
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">My account</a>
                    </li>
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">Favorites</a>
                    </li>
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">My listings</a>
                    </li>
                    <li>
                        <a class="nav-link-light" href="/city-guide/index-2#">Add listing</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <h3 class="h4 text-light">Subscribe to our newsletter</h3>
                <p class="fs-sm mb-4 opacity-60">Don't miss any relevant vacancies!</p>
                <form class="form-group form-group-light rounded-pill">
                    <div class="input-group input-group-sm">
                        <span class="text-muted input-group-text">
                            <i class="fi-mail"></i>
                        </span><input placeholder="Your email" class="form-control">
                    </div><button type="button" class="btn btn-primary rounded-pill btn-sm">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="py-4 border-top border-light">
        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between py-2 container">
            <p class="order-lg-1 order-2 fs-sm mb-2 mb-lg-0">
                <span class="text-light opacity-60">© All rights reserved. Made by </span><a href="https://createx.studio/" class="nav-link-light fw-bold" target="_blank" rel="noreferrer">Createx Studio</a>
            </p>
            <div class="d-flex flex-lg-row flex-column align-items-center lg-2 order-1 ms-lg-4 mb-lg-0 mb-4">
                <div class="d-flex flex-wrap fs-sm mb-lg-0 mb-4 pe-lg-4">
                    <a class="nav-link-light px-2 mx-1" href="/city-guide/index-2#">About</a><a class="nav-link-light px-2 mx-1" href="/city-guide/index-2#">Blog</a><a class="nav-link-light px-2 mx-1" href="/city-guide/index-2#">Support</a><a class="nav-link-light px-2 mx-1" href="/city-guide/index-2#">Contacts</a>
                </div>
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                        <button type="button" id="react-aria-10" aria-expanded="false" class="nav-link nav-link-light fs-sm align-items-center p-0 fw-normal bg-transparent border-0 shadow-none dropdown-toggle btn btn-primary"><i class="fi-globe mt-n1 me-2 align-middle"></i>Eng</button>
                    </div>
                    <div class="ms-4 ps-lg-2 text-nowrap">
                        <a href="#" class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2">
                            <i class="fi-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2">
                            <i class="fi-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2">
                            <i class="fi-telegram"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-xs rounded-circle btn-translucent-light ms-2">
                            <i class="fi-messenger"></i>
                        </a>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("StoreThemeSelector")
        </div>
    </div>
</footer>
@*<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>*@

@*<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>*@