@{
    Layout = "";
}
<a class="btn btn-outline-info rounded-pill w-100 mb-3"
   asp-route-returnurl="@Context.Request.Query["ReturnUrl"]"
   asp-action="Login"
   asp-controller="facebookauthentication">
    <i class="fi-facebook fs-lg me-1"></i>Sign in with Facebook
</a>